@import "param";

.filter {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  &__form {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__label-box {
    position: relative;
    padding: 1.8rem 1rem 1.5rem 1rem;
    border-right: 1px solid #DCDCDC;
    background-color: white;

    &--price {
      width: 21.2rem;
    }

    &--area {
      width: 16.6rem;
    }
  }

  &__label-name {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: $gray;
  }

  &__label {
    flex: 1;
    display: flex;
    align-items: flex-end;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;

    &--icon {
      padding-left: 2.4rem;
    }

    &--from {
      padding-right: 1rem;
    }

    &--to {
      padding-left: 0.8rem;
    }
  }

  &__label-icon {
    position: absolute;
    left: 1rem;
    bottom: 1.8rem;
    width: 1.6rem;
    height: 2rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__select {
    width: 100%;
    height: 100%;
    padding-right: 2rem;
    outline: none;
    border: none;
    background-color: transparent;
    appearance: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
  }

  &__select-arrow {
    position: absolute;
    right: 1.3rem;
    bottom: 2.1rem;
    width: 0.9rem;
    height: 0.9rem;

    path {
      fill: #3D3D3D;
    }
  }

  &__label-flex {
    display: flex;
  }

  &__input {
    width: 100%;
  }

  &__label-to {
    flex: none;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  &__map {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13.5rem;
    height: auto;
    padding: 1.4rem 1rem;
    background-color: #FBFAFA;

    &:hover {
      background-color: #e7e7e7;
    }
  }

  &__map-icon {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin-bottom: 1rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__map-text {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  &__text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

@media (max-width: 48em) {
  .filter {
    position: relative;
    width: 100%;

    &__open-btn {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 9.6rem;
      padding: 0 8rem 0 4rem;
      margin-bottom: 3rem;
      background-color: white;
      font-weight: 700;
      font-size: 2.6rem;
      line-height: 3.1rem;

      &.active {
        .filter__select-arrow {
          transform: scale(-1) translateY(-50%);
        }
      }
    }

    &__form {
      display: block;
      padding: 2.4rem 1.6rem;
      margin-bottom: 3rem;
      background-color: #DCDCDC;
    }

    &__close {
      position: absolute;
      right: 0;
      top: -10rem;
      width: 4rem;
      height: 4rem;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 120%;
        height: 1px;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: rgba(28, 27, 14, 0.2);;
      }

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 120%;
        height: 1px;
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: rgba(28, 27, 14, 0.2);;
      }
    }

    &__label-box {
      padding: 0;
      border-right: none;

      &--price {
        width: 100%;
      }

      &--area {
        width: 100%;
      }

      &:not(:first-child) {
        margin-top: 2.4rem;
      }
    }

    &__label-name {
      display: none;
    }

    &__label {
      flex: 1;
      display: flex;
      align-items: flex-end;
      height: 9.6rem;
      padding: 0 8rem 0 4rem;
      font-size: 2.6rem;
      line-height: 3.1rem;

      &--icon {
        padding-left: 8rem;
      }

      &--from {
        padding: 0 4rem;
      }

      &--to {
        padding: 0 4rem;
      }
    }

    &__label-icon {
      position: absolute;
      left: 4rem;
      bottom: 50%;
      width: 2.4rem;
      height: 3rem;
      transform: translateY(40%);
    }

    &__select {
      padding-right: 8rem;
    }

    &__select-arrow {
      position: absolute;
      right: 4rem;
      bottom: 50%;
      width: 1.8rem;
      height: 1.8rem;
      transform: translateY(50%);
      transition: transform .25s ease;
    }

    &__label-flex {
    }

    &__input {
      width: 100%;
      height: 100%;
    }

    &__label-to {
    }

    &__map {
    }

    &__map-icon {
    }

    &__map-text {
    }

    &__text {
      margin-bottom: 3rem;
      font-size: 2.6rem;
      line-height: 3.1rem;
    }

    &__map-link {
      font-size: 2.6rem;
      line-height: 3.1rem;
      color: $purple;
    }
  }
}