@import "param";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 51;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }

  &__close {
  }
}

.modal-map {
  &__content {
    width: 86.5rem;
    height: 92rem;
  }

  &__close {
  }

  &__map {
    width: 100%;
    height: 100%;
  }

  .ymaps-2-1-79-image,
  .ymaps-2-1-79-image-with-content {
    background-color: white;
    border-radius: 100%;
    background-size: 65% !important;
    background-repeat: no-repeat;
    background-position: center !important;
  }

  &__item {
    position: relative;
  }

  &__item-content {
    position: relative;
    display: block;
    width: 18rem;
    height: auto;
    transform: translate(-50%, calc(-100% - 4rem));
    padding: 0 1rem 2rem 1rem;
    background-color: white;
    text-align: left;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 95%);
      display: block;
      border: 1.3rem transparent solid;
      border-top: 1.3rem white solid;
    }
  }

  &__img-box {
    width: calc(100% + 2rem);
    height: 12.2rem;
    margin: 0 -1rem 1.2rem -1rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-title {
    margin-bottom: 1.2rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  &__price {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: $purple;
  }

  &__text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  &__zoom {
    position: absolute;
    right: -1rem;
    z-index: 1;
    width: 5.4rem;
    height: 5.4rem;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: white;
    box-shadow: -2px 2px 2rem 0.5rem rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1.5rem;
      height: 1px;
      transform: translate(-50%, -50%);
      background-color: black;
    }

    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1.5rem;
      height: 1px;
      transform: translate(-50%, -50%) rotate(90deg);
      background-color: black;
    }

    &:hover {
      background-color: $gray;
    }

    &--minus {
      top: calc(50% + 8rem);

      &:before {
        content: '';
      }
    }

    &--plus {
      top: 50%;

      &:before,
      &:after {
        content: '';
      }
    }
  }
}

.modal-feedback {
  &__close {
    position: absolute;
    right: 3.5rem;
    top: 3.5rem;
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 3rem;
      height: 1px;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: white;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 3rem;
      height: 1px;
      transform: translate(-50%, -50%) rotate(-45deg);
      background-color: white;
    }
  }

  &__complete {
    display: none;
  }

  &__desc {
    width: 39rem;
    font-weight: 300;
    font-size: 1.6rem;
  }
}

.modal-consultation {
  &__content {
    position: relative;
    padding: 10rem 14rem 8rem 14rem;
    background-color: white;
  }

  &__close {
    position: absolute;
    right: 3.5rem;
    top: 3.5rem;
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 3rem;
      height: 1px;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: $gray;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 3rem;
      height: 1px;
      transform: translate(-50%, -50%) rotate(-45deg);
      background-color: $gray;
    }
  }

  &__form {
  }

  &__title {
    margin-bottom: 2.4rem;
    font-weight: 300;
    font-size: 4rem;
    line-height: 4.8rem;
  }

  &__desc {
    width: 30rem;
    margin-bottom: 2.8rem;
    font-weight: 300;
    font-size: 1.6rem;
  }

  &__complete {
    display: none;
  }

  &__complete-btn {
    padding: 1.4rem 4.8rem;
    background-color: $red;
    font-size: 1.6rem;
    color: white;
  }
}

.modal-img {
  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;

    > img {
      position: relative;
      z-index: 1;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
    height: 5rem;
    transform: translate(110%, -110%);
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 5rem;
      height: 2px;
      transform: rotate(45deg);
      background-color: white;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 5rem;
      height: 2px;
      transform: rotate(-45deg);
      background-color: white;
    }
  }
}

@media (max-width: 48em) {
  .modal {
    &__bg {
    }

    &__content {
      max-width: 95%;
    }

    &__close {
      right: -2rem;
      top: -2rem;

      &:before {
        width: 2.5rem;
      }

      &:after {
        width: 2.5rem;
      }
    }
  }

  .modal-map {
    &__content {
      width: 90%;
      height: 70rem;
    }

    &__close {
    }

    &__map {
    }

    &__item {
    }

    &__item-content {
      width: 28rem;
      transform: translate(calc(-100% - 7rem), calc(-100% + 10rem));
      padding: 0 1.6rem 2.4rem 1.6rem;

      &:before {
        left: 100%;
        bottom: 10rem;
        transform: translate(0, 50%);
        border: 2.6rem transparent solid;
        border-left: 2.6rem white solid;
      }
    }

    &__img-box {
      width: calc(100% + 3.2rem);
      height: 16rem;
      margin: 0 -1.6rem 2.4rem -1.6rem;
    }

    &__item-title {
      margin-bottom: 1rem;
      font-size: 2.6rem;
      line-height: 3.1rem;
    }

    &__price {
      margin-bottom: 0.8rem;
      font-size: 2.6rem;
      line-height: 3.1rem;
    }

    &__text {
      font-size: 2.6rem;
      line-height: 3.1rem;
    }

    &__zoom {
      //position: absolute;
      //right: -1rem;
      //z-index: 1;
      //width: 5.4rem;
      //height: 5.4rem;
      //transform: translateY(-50%);
      //border-radius: 100%;
      //background-color: white;
      //box-shadow: -2px 2px 2rem 0.5rem rgba(0, 0, 0, 0.2);
      //cursor: pointer;
      //
      //&:before {
      //  position: absolute;
      //  left: 50%;
      //  top: 50%;
      //  width: 1.5rem;
      //  height: 1px;
      //  transform: translate(-50%, -50%);
      //  background-color: black;
      //}
      //
      //&:after {
      //  position: absolute;
      //  left: 50%;
      //  top: 50%;
      //  width: 1.5rem;
      //  height: 1px;
      //  transform: translate(-50%, -50%) rotate(90deg);
      //  background-color: black;
      //}
      //
      //&:hover {
      //  background-color: $gray;
      //}
      //
      //&--minus {
      //  top: calc(50% + 8rem);
      //
      //  &:before {
      //    content: '';
      //  }
      //}
      //
      //&--plus {
      //  top: 50%;
      //
      //  &:before,
      //  &:after {
      //    content: '';
      //  }
      //}
    }
  }

  .modal-feedback {
    padding: 0 4rem;

    .modal__content {
      max-width: 100%;
    }

    &__close {
      width: 3rem;
      height: 3rem;

      &:before {
        width: 4rem;
      }

      &:after {
        width: 4rem;
      }
    }

    &__complete {
      display: none;
    }

    &__desc {
      width: 48rem;
      font-size: 2.6rem;
    }
  }

  .modal-consultation {
    padding: 0 4rem;

    .consultation__sub-text-form {
      margin-bottom: 0;
    }

    &__content {
      width: 100%;
      max-width: 100%;
      padding: 5.6rem 4rem;
    }

    &__close {
      width: 3rem;
      height: 3rem;

      &:before {
        width: 4rem;
      }

      &:after {
        width: 4rem;
      }
    }

    &__title {
    }

    &__desc {
      width: 42rem;
      margin-bottom: 4rem;
      font-size: 2.6rem;
    }

    &__complete {
      .modal-consultation__desc {
        width: 48rem;
      }
    }

    &__complete-btn {
      padding: 2rem 6.4rem;
      font-size: 2.6rem;
    }
  }

  .modal-img {
    &__content {
      height: 85%;
      width: 85%;
    }

    &__bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &__close {
      width: 6rem;
      height: 6rem;
      transform: translate(70%, -130%);

      &:before {
        width: 6rem;
      }

      &:after {
        width: 6rem;
      }
    }
  }
}