// $peremenaya: znachenie;

// @mixin name {
//  css here
// }

$def-hover: #909090;
$gray: #bbbbbb;
$purple: #6D78E2;
$purple-hover: #5964d5;
$red: #EA3758;
$red-hover: #d71135;

$golos: 'Golos Text';