@import "param";

.program {
  margin-bottom: 8rem;

  &__container {
    display: flex;
  }

  &__title-block {
    flex: none;
    width: 50%;
    padding-top: 11rem;
    background-color: white;
  }

  &__title {
    padding: 0 8rem;
    margin-bottom: 2.4rem;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.8rem;
  }

  &__desc {
    padding: 0 8rem;
    margin-bottom: 11rem;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  &__img-box {
    width: 100%;
    height: 35rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text-block {
    padding: 10rem 9.3rem 10rem 6rem;
    background-color: #FAFAFF;
  }

  &__list {
  }

  &__list-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 6rem;
    }
  }

  &__number {
    flex: none;
    width: 4.5rem;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.3rem;
    color: $gray;
  }

  &__text-box {
    padding-left: 2.5rem;
    border-left: 1px dashed $gray;
  }

  &__text-title {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $gray;
  }
}

@media (max-width: 48em) {
  .program {
    &__container {
      display: block;
    }

    &__title-block {
      width: 100%;
      padding-top: 4rem;
    }

    &__title {
      padding: 0 3.2rem;
    }

    &__desc {
      padding: 0 3.2rem;
      margin-bottom: 3.2rem;
      font-size: 3.6rem;
      line-height: 4.3rem;
    }

    &__img-box {
      height: 36.3rem;
    }

    &__text-block {
      padding: 3.2rem 4rem 4rem 4rem;
    }

    &__list {
    }

    &__list-item {
      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }

    &__number {
      width: 4rem;
      font-size: 4rem;
      line-height: 4.8rem;
    }

    &__text-box {
      padding-left: 1.6rem;
    }

    &__text-title {
      margin-bottom: 1.6rem;
      font-size: 3.6rem;
      line-height: 4.3rem;
    }

    &__text {
      font-size: 2.6rem;
      line-height: 3.1rem;
    }
  }
}